* {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container__land {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.container__land .bg-image {
  position: absolute;
  /*Aca esta el problema*/
  width: 100%;
  z-index: -1;
  margin: 0;
  left: 0;
  bottom: 0;
  background-size: contain;
}

.container__land .container__landing {
  width: 33.75rem;
  /*margin: 3rem;*/
  left: 10.313rem;
  height: 17rem;
  top: 20.75;
}

.container__land .container__landing__section {
  font-family: "Inter", sans-serif;
}

.container__land .container__landing__section__p {
  color: #E3EDFF;
  margin: 2rem auto;
  line-height: 2rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.container__land .container__landing__section__btn {
  width: 7rem;
  height: 3rem;
  line-height: 1rem;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #062F86;
  background-color: #E3EDFF;
}

.container__land .container__landing__section__btn:hover {
  cursor: pointer;
  background-color: #062F86;
  -webkit-box-shadow: #2a529c;
          box-shadow: #2a529c;
  color: #E3EDFF;
}

.container__land .container__landing__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__land .container__landing__img__png {
  width: 36.433rem;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 768px) {
  .container__land {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
  }
  .container__land .bg-image {
    height: 100vh;
  }
  .container__land .container__landing {
    width: 100%;
    margin: 0 auto;
  }
  .container__land .container__landing__section {
    margin: 2rem auto;
  }
  .container__land .container__landing__section__p {
    color: #eee;
    margin: 0rem 0.4rem;
    line-height: 2;
    font-size: 0.9rem;
  }
  .container__land .container__landing__section__btn {
    background-color: #eee;
    font-size: 0.5rem;
    width: 4rem;
    height: 2.3rem;
  }
  .container__land .container__landing__section__btn:hover {
    background-color: #062F86;
    -webkit-box-shadow: #2a529c;
            box-shadow: #2a529c;
  }
  .container__land .container__landing__img {
    width: 14rem;
  }
}

.hero {
  width: 100%;
  /*background:  $background-color; */
}

.hero .bg-image {
  height: 50rem;
  width: 100%;
  z-index: -1;
  margin: 0;
  left: 0;
}

.hero__title {
  font-family: "Barlow Semi Condensed", sans-serif;
  position: absolute;
  text-align: center;
  font-size: 4rem;
  color: #eee;
  width: 100%;
  margin-top: 7rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.hero__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  margin-top: 11rem;
}

.hero__team__flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__team__flex__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2.8rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem 2.5rem;
}

.hero__team__flex__div .hero__img {
  width: 10rem;
  margin: 0 2rem;
}

.hero__team__flex__div .hero__team__sec .hero__team__title {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #E3EDFF;
  font-size: 2.25rem;
  line-height: 20px;
}

.hero__team__flex__div .hero__team__sec .hero__team__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #cecece;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
}

.hero__team .hero__png {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  margin-bottom: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__team .hero__png__img {
  width: 32.797rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hero .bg-image {
    height: 75rem;
  }
  .hero__title {
    font-size: 2rem;
  }
  .hero__team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  .hero__team__flex__div {
    padding: 0;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  .hero__team__flex__div .hero__img {
    margin: 0 auto;
  }
  .hero .hero__png {
    margin: 2rem auto;
  }
}

#products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#products h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 4rem;
  color: #062F86;
  position: relative;
  left: 15px;
  top: 54px;
}

#products p {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.625rem;
  padding: 8px;
  width: 70.5%;
  position: relative;
  top: 88px;
}

#products .benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 136px;
}

@media screen and (max-width: 768px) {
  #products .benefits-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#products .benefits-container .benefit-item-1 {
  margin: 0 31.5px;
  position: relative;
}

#products .benefits-container .benefit-item-1 img {
  min-width: 489px;
  min-height: 374px;
}

#products .benefits-container .benefit-item-1 p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
  height: 150px;
  line-height: 3.125rem;
  position: absolute;
  top: 138px;
  left: 24px;
}

#products .benefits-container .benefit-item-2 {
  margin: 0 31.5px;
  position: relative;
}

#products .benefits-container .benefit-item-2 img {
  min-width: 489px;
  min-height: 374px;
}

#products .benefits-container .benefit-item-2 p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
  height: 150px;
  line-height: 3.125rem;
  position: absolute;
  top: 138px;
  left: 24px;
}

#products .services-container {
  position: relative;
  top: 287px;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#products .services-container:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#products .services-container p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
  position: absolute;
  top: 250px;
  left: 337px;
}

#products .services-container .services-img2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#products h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2.625rem;
  color: #062F86;
  position: relative;
  top: 375px;
}

#products .logo-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 407px;
  width: 73.959%;
  height: 223px;
  background: url(../../imagenes/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 42px 42px 82px 82px;
}

#products .logo-slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0;
  list-style: none;
}

#products .logo-slider ul li {
  margin: 20px;
  width: 80px;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#clients h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 4rem;
  color: #062F86;
  margin-left: 15px;
  margin-top: 54px;
}

#clients .clients-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 36px;
}

#clients .clients-container p {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#clients .companies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 153px;
}

#clients .companies-container h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2.67rem;
  color: #062F86;
}

#clients .companies-container .companies-list {
  margin-top: 17px;
}

#clients .companies-container .companies-list p {
  color: #0C1444;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: center;
}

#clients .companies-container .companies-list img {
  margin-top: 35px;
}

.contact-container {
  margin-top: 28px;
  background: url(../../imagenes/bg-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 588px;
}

.contact-container h3 {
  margin-top: 68px;
  text-align: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2.67rem;
  color: #ffffff;
}

.contact-container p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  margin: 76px 166px 84px 166px;
}

.contact-container button {
  padding: 12px 32px;
  width: 250px;
  height: 48px;
  background: #E3EDFF;
  border-radius: 6px;
}

.navbar {
  width: 100%;
  background-color: #fff;
}

.navbar-brand .navbar-item .navbar-item-img {
  display: none;
}

.navbar-brand .whats__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand .whats__btn .header_whatsapp {
  display: none;
}

.navbar-menu .navbar-start {
  left: 3.688rem;
}

.navbar-menu .navbar-start .navbar-item {
  -webkit-transition: .8s;
  transition: .8s;
  color: #0C1444;
  font-size: 0.8rem;
  font-weight: bold;
}

.navbar-menu .navbar-start .navbar-item::after {
  content: "";
  position: absolute;
  background-color: #1F2A83;
  height: 3px;
  width: 0;
  left: 12px;
  bottom: 17px;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar-menu .navbar-start .navbar-item:hover::after {
  width: 79%;
}

.navbar .div__img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
  /* margin: 0 -20rem; */
  margin-right: 18rem;
}

.navbar .div__img__header {
  width: 13.625rem;
  top: 1.063rem;
}

.navbar-end .navbar-item .buttons .button {
  background-color: #e3edff;
  font-size: 0.8rem;
  -webkit-transition: .4s;
  transition: .4s;
  color: #0C1444;
  line-height: 1.25rem;
  font-weight: 400;
  height: 2.5rem;
  border-radius: 6px;
  right: 10.313rem;
  width: 8.063rem;
}

.navbar-end .navbar-item .buttons .button:hover {
  background-color: #062F86;
  -webkit-box-shadow: #2a529c;
          box-shadow: #2a529c;
  color: #E3EDFF;
}

.navbar-end .navbar-item .buttons .is-blue {
  color: #fff;
  background-color: #062F86;
  -webkit-box-shadow: #2a529c;
          box-shadow: #2a529c;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 0rem;
  }
  .navbar-brand .navbar-item .navbar-item-img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .navbar-brand .whats__btn {
    width: 100%;
  }
  .navbar-brand .whats__btn .header_whatsapp {
    width: 2rem;
    margin: 0 auto;
    margin-right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .navbar-menu {
    margin: 0;
  }
  .navbar-menu .div__img {
    display: none;
  }
  .navbar-menu .navbar-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 0;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  width: 13.625rem;
}

.footer-logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-div .footer-div-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto;
  /*width: 37.75rem;*/
  height: 1.625rem;
}

.footer .footer-div .footer-div-item .footer-items {
  font-size: 0.9rem;
  line-height: 1.625rem;
  font-weight: 400;
  padding: 0rem;
  margin: 0 1rem;
}

.footer .footer-div .footer-div-item .footer-items a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0C1444;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.footer .footer-div-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 18.438 auto;
  font-size: 0.875rem;
  line-height: 24px;
  color: #0C1444;
}

.footer .nav-bx {
  position: fixed;
  margin-right: 0;
  right: 2rem;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .nav-bx .nav-bx-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#7B89B6), to(#D4DFF5));
  background: linear-gradient(to right, #7B89B6, #D4DFF5);
  border-radius: 10px;
  margin: 1.063rem 0.25rem;
  width: 12.864rem;
  font-size: 0.688rem;
  height: 3.313rem;
  font-weight: 600;
  color: #062F86;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
}

.footer .nav-bx .icon-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  margin-left: 1rem;
}

.footer .nav-bx .icon-whatsapp:hover {
  font-size: 2.3rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-logo {
    width: 82%;
  }
  .footer .footer-div .footer-div-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem auto;
  }
  .footer .footer-div .footer-div-item .footer-items {
    font-size: .9rem;
    margin: 1rem;
  }
  .footer .footer-div-rights {
    font-size: 0.8rem;
  }
  .footer .nav-bx {
    display: none;
    right: 0.6rem;
  }
  .footer .nav-bx .nav-bx-text {
    width: 9rem;
    font-size: .8rem;
  }
}

.footer-products {
  padding: 0;
  margin: 0;
  height: 256px;
  width: 100%;
  position: relative;
  top: 497px;
  background: url(../../imagenes/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .footer-products {
    height: 256px;
  }
}

.footer-products .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto 2rem auto;
  position: relative;
  width: 218px;
  height: 38px;
  top: calc(50% - 38px/2 - 66px);
}

.footer-products .footer-logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18rem;
}

.footer-products .footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 27px auto 48px auto;
}

.footer-products .footer-div .footer-div-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto 0 auto;
}

.footer-products .footer-div .footer-div-item .footer-items {
  font-size: .8rem;
  margin: 1rem;
}

.footer-products .footer-div .footer-div-item .footer-items a {
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.footer-products .footer-div hr {
  width: 77%;
  height: 1px;
  background: #FFFFFF;
  opacity: 0.2;
}

.footer-products .footer-div h5 {
  color: #BDC9E2;
  position: relative;
  bottom: 1px;
}

.footer-products .nav-bx {
  position: fixed;
  margin-right: 0;
  right: 2rem;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-products .nav-bx {
    display: none;
    right: 0.6rem;
  }
}

.footer-products .nav-bx .nav-bx-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#7B89B6), to(#D4DFF5));
  background: linear-gradient(to right, #7B89B6, #D4DFF5);
  border-radius: 10px;
  margin: 1.063rem 0.25rem;
  width: 12.864rem;
  font-size: 0.688rem;
  height: 3.313rem;
  font-weight: 600;
  color: #062F86;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 768px) {
  .footer-products .nav-bx .nav-bx-text {
    width: 9rem;
    font-size: .8rem;
  }
}

.footer-products .nav-bx .icon-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  margin-left: 1rem;
}

.footer-products .nav-bx .icon-whatsapp:hover {
  font-size: 2.3rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */