#clients{    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;

    @media screen and (max-width:768px){
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    
    h2{
        font-family: $font-family-1;
        font-size: 4rem;
        color: #062F86;   
        margin-left: 1rem;
        margin-top: 7rem;
        line-height: 1.25rem;
        

        @media screen and (max-width:768px){
            margin-top: 5rem;
            font-size: 2rem;
        }
    }

    .clients-container{
        width: 100%;
        display:flex;
        justify-content: space-evenly;
        margin-top: 2.25rem;

        @media screen and (max-width:768px){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 1rem;
        }
        .client-p-div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 1.5rem;
            @media screen and (max-width:768px){
                margin-right: 0;
            }
        
        .client-p{
            //width: 37%;
            text-align: justify;
            font-size: 1.5rem;
            margin: 1rem auto;
            font-family: $font-family-inter;
            font-weight: 400;
            color: #0C1444;
            line-height: 2rem;
            span{
                font-weight: 700;
                font-size: 1.5rem;
            }

            
            @media screen and (min-width:1440px){
                margin-left: 6rem;
            }
           

            @media screen and (max-width:768px){
                width:100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 1rem;
                font-size: 0.9rem;
            }
        }
    }
        
        img{

            @media screen and (min-width:1440px){
                margin-right: 3rem;
            }
            
            @media screen and (max-width:768px){
                margin-right: 0;
                width: 80%;
            }
        }
    }

    .companies-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:9.5rem;

        @media screen and (max-width:768px){
            margin-top: 4.25rem;
        }
        
        h3{
            font-family: $font-family-1;
            font-size: 2.67rem;
            color: #062F86;

            @media screen and (max-width:768px){
                font-size: 1.25rem;
                text-align: justify;
            }
        }

        .companies-list{
            margin-top: 1rem;
            p{
                color:#0C1444;
                font-family: $font-family-inter;
                font-size: 1.125rem;
                text-align: center;

                @media screen and (max-width:768px){
                    font-size: 0.9rem;
                }
            }

            img{
                margin-top: 2rem;
            }
            @media screen and (max-width:768px) {
                height: 20rem;
            }
        }
    }
    .is-active{
        .is-clipped{
            .box{
                height: 30rem!important;
            }
        }
    }
}

.contact-container{
    margin-top: 1.75rem;
    padding-bottom: 8rem;
    background: url("..//imagenes/bg-contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width:768px){
        padding-bottom: 4rem;
    }
    .contact-h3{
        font-size: 3.5rem;
        color: #fff;
        margin-bottom: 1rem;
        @media screen and (max-width:768px){
            text-align: justify;
            font-size: 1.5rem;
            margin-top: 2rem;
        }
    }
    

    p{
        font-family: $font-family-inter;
        font-size: 1.125rem;
        text-align: justify;
        color: #ffffff; 
        margin-top:4.75rem;
        margin-bottom: 5.25rem;
        padding: 0 20%;

        @media screen and (max-width:768px){
            font-size: 0.8rem;
            margin-top:2.375rem;
            margin-bottom: 2.625rem;
        }
    }

    button{
        padding: 0.75rem 2rem;
        width: 15.625rem;
        height: 3rem;
        background-color: #E3EDFF;
        border-radius: 6px;

        a{
            font-family: $font-family-inter;
            font-size: 1rem;
            color:#062F86;
            text-decoration: none;

            @media screen and (max-width:768px){
                font-size: 0.8rem;
            }
        }
    }
}
.modal-content{
    .is-clipped{
        iframe{
            height: 34rem;
        }
}




@media screen and (max-width:767px) and (min-width:767px) {
    .box{
        height: 34rem;
    }
}
}