.footer-products{
    padding: 0;
    margin:0;
    height: 256px;
    width: 100%;
    position: relative;
    top:497px;

    @media screen and (max-width: 768px) {
        height: 256px;
    }

    background: url(../../imagenes/image.png);
    background-repeat: no-repeat;
    background-size: cover;

    .footer-logo{
        display: flex;
        justify-content: center; 
        width: 100%;
        margin: 0 auto 2rem auto;
        position: relative;
        width: 218px;
        height: 38px;
        top: calc(50% - 38px/2 - 66px);



        &-img{
            display: flex;
            justify-content: center;
            width: 18rem;
        }
    }

    .footer-div{    
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 27px auto 48px auto ;

        .footer-div-item{
            display: flex;
            justify-content: center;
            margin: 1rem auto 0 auto;

            .footer-items{
                font-size: .8rem;
                margin: 1rem;

                a{
                    color: #FFFFFF;
                    justify-content: center;
                    text-decoration: none;
                    font-family: $font-family-inter;
                }
            }
        }

        hr{
            width: 77%;
            height: 1px;
            background: #FFFFFF;
            opacity: 0.2;
        }
            
        h5{
            color: #BDC9E2;
            position: relative;
            bottom:1px;
        }    
    }

    .nav-bx{
        position: fixed;
        margin-right: 0;
        right: 2rem;
        bottom: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            display: none;
            right: 0.6rem;
        }

        .nav-bx-text{
            display: flex;
            background: linear-gradient(to right , #7B89B6 , #D4DFF5);
            border-radius: 10px;
            margin: 1.063rem 0.25rem;
            width: 12.864rem;
            font-size: 0.688rem;
            height: 3.313rem;
            font-weight: 600;
            color: #062F86;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-family: $font-family-inter;

            @media screen and (max-width: 768px) {
                width: 9rem;
                font-size: .8rem;
            }
            
        }

        .icon-whatsapp {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            margin-left: 1rem; 
        }

        .icon-whatsapp:hover{
            font-size: 2.3rem;
            cursor: pointer;
        }
    }
}