.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &-logo{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        &-img{
            display: flex;
            justify-content: center;
            width: 18rem;
        }
        }
        .footer-div{
            .footer-div-item{
                display: flex;
                justify-content: center;
                margin: 2rem auto;
                .footer-items{
                    font-size: .8rem;
                    margin: 1rem;
                }
            }
            /*
            &-rights{
                display: flex;
                justify-content: center;
                margin: 0 auto;
                font-size: .8rem;
            }
            */
        }
}


@media (max-width: 768px) {
    .footer{
        
        &-logo{
            width: 65%;
            &-img{
            
            }
            .footer-div{
                .footer-div-item{
                    
                    .footer-items{
                        font-size: 0.8rem;
                        margin: 0.5rem;
                    }
                }
                
            }
    }
}
}