
.navbar{
    width: 100%;
    padding: 0 2rem;
    background-color: #fff;
    &-menu{
        margin: 0 0 0 1rem;
        .navbar-start{
            .navbar-item{
                transition: .8s;
                color: #0C1444;
                
                font-size: 1rem;
                font-weight: bold;
                
            }
            &-item:hover{
            }
        }
        .navbar-end{
            .navbar-item{
                .buttons{
                    .button{
                        background-color: #eee;
                    }
                        .is-blue{
                            color: #fff;
                            background-color: #062F86;
                            box-shadow: $btn-boxShadow;
                        }
                    &:hover{
                        
                    }
                }
            }
        }

        .nav-bx{
            display: flex;
            justify-content: center;
            align-items: center;
            .bxl-whatsapp{
                color: rgb(30, 190, 16);
                font-size: 2rem;
            }
            .bxl-whatsapp:hover{
                cursor: pointer;
                
            }
        }
      
    }
}