
.navbar{
    width: 100%;
    padding: 0 2rem;
    background-color: #fff;
    &-menu{
        margin: 0 0 0 1rem;
        .navbar-start{
            .navbar-item{
                transition: .8s;
                color: #0C1444;
                font-size: $font-size-li;
                font-weight: bold;
                
            }
            &-item:hover{
                text-decoration: underline;
                
            }
        }
        .navbar-end{
            .navbar-item{
                .buttons{
                    .button{
                        background-color: #e3edff;
                        font-size: $font-size-li;
                        transition: .4s;
                    }
                    .button:hover{
                        background-color: #062F86;
                        box-shadow: $btn-boxShadow;
                        color: $text-main;
                    }
                        .is-blue{
                            color: #fff;
                            background-color: #062F86;
                            box-shadow: $btn-boxShadow;
                        }
                    &:hover{
                        
                    }
                }
            }
        }

        
    
    }
}




@media (max-width: 768px) {
    .navbar{
        
        padding: 0 0rem;
        
        &-menu{
            margin: 0;
            .navbar-start{
                .navbar-item{
                    
                }
                &-item:hover{
                
                }
            }
            .navbar-end{
                display: flex;
                justify-content: center;
                .navbar-item{
                    .buttons{
                        .button{
                            
                        }
                        .button:hover{
                            
                        
                        }
                            .is-blue{
                                
                            }
                        &:hover{
                            
                        }
                    }
                }
            }
        }
    }
}