#products{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
     
    h2{
        font-family: $font-family-1;
        font-size: 4rem;
        color: #062F86;   
        margin-left: 1rem;
        margin-top: 7rem;
        line-height: 1.25rem;

        @media screen and (max-width:768px){
            margin-top: 5rem;
            font-size: 2rem;
        }
    } 

    p{
        font-family: $font-family-inter;
        font-size: $font-size-p;
        justify-content: center;
        line-height: 1.625rem;
        padding: 8px;
        width: 70.5%;
        margin-top: 2.5rem;
        color: #0C1444;

        strong{
            color: #0C1444;
            font-family: $font-family-inter;
            font-size: $font-size-p;
        }
    }

    .benefits-container{
        
        display: flex;
        flex-direction: row;
        margin-top: 3rem;

        @media screen and (max-width:768px) {
            flex-direction: column;
        }

        h2{
            font-size: 2rem;
        }
        .benefit-item-1,
        .benefit-item-2{

            margin: 0 2rem;
            position: relative;

            img{
                min-width: 30.5rem;
                min-height: 23.375rem;

                @media screen and (min-width:768px) {
                    min-width: 24.4rem;
                    min-height: 18.7rem;
                }
            }

            p{  
                font-family: $font-family-1;
                font-size: 3rem;
                color: #FFFFFF;
                height: 150px;
                line-height: 3.125rem;
                position: absolute;
                top: 5.5rem;
                left: 1.5rem;
                padding: 0;
            }
        }
    }   
    
    .services-container{
        margin-top: 9rem;
        transform: rotateY(0deg);
        transition: 1s ease all;
        transform-style: preserve-3d;

        &:hover{
            transform: rotateY(180deg);
        }

        p{
            font-family: $font-family-1;
            font-size: 3rem;
            color: #FFFFFF;   
            position: absolute;
            top:13.25rem;
            left: 22rem;
        }

        .services-img2{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            object-fit: contain;
            transform:rotateY(180deg);
            backface-visibility: hidden;
        }
        .services-btn{
            backface-visibility: hidden;
            position: absolute;
            left: 0rem;
            bottom: -3rem;
            transform: rotateY(180deg);
            height: 3rem;
            padding: 12px 32px;
            border-radius: 6px;
            background-color: #E3EDFF;
            color: #062F86;
            font-family: $font-family-inter;
            font-weight: 500;
            font-size: 1rem;
            z-index: 1;
        }
        .services-btn:hover{
            cursor: pointer;
        }

        .services-img1, .services-img2{
            @media screen and (max-width:768px) {
                min-width: 60%;
                min-height: 60%;
            }
        }
    }

    h3{
        font-family: $font-family-1;
        font-size: 2.625rem;
        color: #062F86;   
        margin-top: 5rem;
    }

    .wrapper{
        width:994px;
        height: 188px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 5.5rem;
        width: 73.959%;
        height: 223px;
        background: url(../imagenes/image.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 42px 42px;
        box-shadow: 2px 9px 19px 1px rgba(0, 0, 0, 0.2);
        .carousel{
            width:85%;
            margin:0px auto;
            display: flex;
            align-items: center;
            .item{
            width: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .4s;            
        }
        .active{
            width: 5rem;
        }
        /*
        .item:hover{
            width: 18rem;
            cursor: pointer;
        }
        */
        }
        .slick-slide{
            margin:0;
        }

        .selected{
            filter: grayscale(100%);
        }
        }
        
        
        .next{
            margin-right: 5.5rem;
        }

        .prev{
            margin-left: 5.5rem;
        }
        
    }
    


@media screen and (min-width:767px) {
    .products__responsive{
        margin-left: 0;
        margin-right: 0;
    }
    .products__responsive{
        display: none;
    }
    .section-areas{
        display: none;
    }
    .activee{
        margin: 1rem auto 0;
        width: 100%;
        display: inline-block;
        .area{
            margin:  0 9.813rem;
            .area-div{
                display: flex;
                background-color: #E3EDFF;
                height: 5rem;
                border-radius: 6px;
                align-items: center;
                margin: 2.5rem auto;
                .bx{
                    font-size: 2.531rem;
                    color: #0C1444;
                }
                .active{
                    transform: rotate(90deg);
                    margin: auto 0;
                }
                .area-title{
                    font-size: 2.25rem;
                    font-weight: 600;
                    color: #0C1444;
                    margin-left: 1.063rem;
                    margin-top: 0!important;
                }
                
            }
            .area-ul{
                display: none;
            }
            .active{
                display: inline-block;
                flex-direction: column;
                margin-top: -2rem;
                    .area-li{
                        font-family: $font-family-inter;
                        font-size: 1.125rem;
                        font-weight: 400;
                        margin: 1rem 2rem;
                        list-style-type: disc;
                        line-height: 51px;
                        color: #000;
                    }
                }
            
            }
            
        }
    
}
@media screen and (min-width: 1088px) {

    .container.is-fluid {
        
        margin-left: 0;
        margin-right: 0;
    }
}



@media screen and (max-width:767px) {
    #products{
        width: 100%;
        h2{
            font-size: 2rem;
            margin-top: 5rem;
        }
        p{
            padding: 0;
            font-size: 0.9rem;
            text-align: justify;
        }
        .benefits-container{
            display: none;
            }
        
        .services-container{
            display: none;
        }
        h3{
            //display: none;
            font-size: 1.625rem!important;
            margin-top: 0!important;

        }
        .wrapper{
            display: none;
        }
    }
    .products__responsive{
        width: 100%;
        .item__1,
        .item__2,
        .item__3,
        .item__12,
        .item__3{
            margin: 1rem;
        }
        .item__1,
        .item__12,
        .item__2{
            .subitem__1,
            .subitem__12,
            .subitem__2{
                display: flex;
                justify-content: center;
                align-items: center;
                .item__title__1,
                .item__title__12,
                .item__title__2{
                    color: #eee;
                    position: absolute;
                }
            }
        }
        .logos-responsive{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .logos-responsive-h3{
                font-size: 1.5rem;
                color: #062F86;
                margin-bottom: 1rem;
            }
            .items-responsive{
                display: flex;
                margin: 0 1rem;
                .item-responsive{
                    font-family: $font-family-inter;
                    text-align: justify;
                    line-height: 3.213rem;
                }
            }
        }
    }

}


@media screen and (max-width:767px) {
    .section-areas{
        margin: 0 auto;
        width: 100%;
        .area{
            margin:  0 1.813rem;
            .area-div{
                display: flex;
                background-color: #E3EDFF;
                height: 3rem;
                border-radius: 6px;
                align-items: center;
                margin: 2.5rem auto;
                justify-content: flex-start;
                .bx{
                    font-size: 2.531rem;
                    color: #0C1444;
                }
                .active{
                    transform: rotate(90deg);
                    margin: auto 0;
                }
                .area-title{
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: #0C1444;
                    margin-left: 1.063rem;
                    margin-top: 0;
                }
                
            }
            .area-ul{
                display: none;
            }
            .active{
                display: inline-block;
                flex-direction: column;
                margin-top: -2rem;
                    .area-li{
                        font-family: $font-family-inter;
                        font-size: .9rem;
                        font-weight: 400;
                        margin: 1rem 2rem;
                        list-style-type: disc;
                        line-height: 30px;
                        color: #000;
                    }
                }
            
            }
            
        }
        .h3{
            display: none;
        }
}