#products{    
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-family: $font-family-1;
        font-size: 4rem;
        color: #062F86;   
        margin-left: 1rem;
        margin-top: 6rem;
        line-height: 1.25rem;
    } 

    p{
        font-family: $font-family-inter;
        font-size: $font-size-p;
        justify-content: center;
        line-height: 1.625rem;
        padding: 8px;
        width: 70.5%;
        position: relative;
        top:88px;
    }

    .benefits-container{
        
        display: flex;
        flex-direction: row;
        position: relative;
        top: 136px;

        @media screen and (max-width:768px) {
            flex-direction: column;
        }

        .benefit-item-1{
            margin: 0 31.5px;
            position: relative;

            img{
                min-width: 489px;
                min-height: 374px;
            }

            p{  
                font-family: $font-family-1;
                font-size: 3rem;
                color: #FFFFFF;
                height: 150px;
                line-height: 3.125rem;
                position: absolute;
                top: 138px ;
                left: 24px;
            }
        }

        .benefit-item-2{
            margin: 0 31.5px;
            position: relative;

            img{
                min-width: 489px;
                min-height: 374px;
            }

            p{
                font-family: $font-family-1;
                font-size: 3rem;
                color: #FFFFFF;   
                height: 150px;
                line-height: 3.125rem;
                position: absolute;
                top: 138px ;
                left: 24px;
            }
        }
    }   
    
    .services-container{
        position: relative;
        top:287px;
        transform: rotateY(0deg);
        transition: 1s ease all;
        transform-style: preserve-3d;

        &:hover{
            transform: rotateY(180deg);
        }

        p{
            font-family: $font-family-1;
            font-size: 3rem;
            color: #FFFFFF;   
            position: absolute;
            top:250px;
            left: 337px;
        }

        .services-img2{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            object-fit: contain;
            transform:rotateY(180deg);
            backface-visibility: hidden;
        }
    }

    h3{
        font-family: $font-family-1;
        font-size: 2.625rem;
        color: #062F86;   
        position:relative;
        top: 375px;
    }
    
    .logo-slider{
        display: flex;
        justify-content: center;
        position: relative;
        top:407px;
        width: 73.959%;
        height: 223px;
       

        background: url(../../imagenes/image.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 42px 42px 82px 82px;
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0;
            list-style: none;

            
            li {
                margin: 20px;
                width: 80px;
                height: 80px;
                box-sizing: border-box;
            }        
        }
    }
}