.hero{
    width: 100%;
    background:  $background-color;
    &__title{
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        color: $text-main;
        margin-top: 2rem;
        }
    &__team{
        display: flex;
        &__flex{
            flex-direction: column;
            &__div{
                display: flex;
                margin-left: 2.8rem;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                padding: 1rem 2.5rem;
                .hero__img{
                    width: 10rem;
                    margin: 0 3rem;
                }
                .hero__team__sec{
                    .hero__team__title{
                        color: $text-main;
                        font-size: $font-size-title;
                    }
                    .hero__team__subtitle{
                        color: $text-secondary;
                        font-size: $font-size-subtitle;
                        }
                }
                }
        }
    }
    .hero__png{
        display: flex;
        margin: 8rem auto;
        justify-content: center;
        &__img{
            width: 26rem;
            margin: 0 auto;
        }
    }

    }




@media (max-width: 768px)  {
    .hero{
        
        &__title{
            font-size: 2rem;
            }
        &__team{
            flex-direction: column;
            &__flex{
                
                &__div{
                    padding: 0;
                    margin-left: 0;
                    flex-direction: column;
                    margin-top: 2rem;
                    .hero__img{
                        margin: 0 auto;
                    }
                    .hero__team__sec{
                        .hero__team__title{
                            
                        }
                        .hero__team__subtitle{
                        
                            }
                    }
                    }
            }
        }
        .hero__png{
            margin: 2rem auto;
            &__img{
                
            }
        }
    
        }
    
}
