$color-principal: #0C1444;
$color-principal2: #1F2A83;
$color-btn: rgb(42, 82, 156);
$color-btn-hover: rgba(7, 9, 112, 0.527);
$text-main:#E3EDFF;
$text-secondary: rgb(206, 206, 206); 
$background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
$font-size-p: 1.125rem;
$font-size-title: 2.25rem;
$font-size-team-title: 2.25rem;
$font-size-team-subtitle: 1.25rem;
$font-size-subtitle: 1.25rem;
$font-size-li: 0.8rem;
$btn-boxShadow: rgb(42, 82, 156);
$btn-boxShadow-hover: 2px 2px 2px 1px rgba(7, 9, 112, 0.527);
$color-p: #0C1444;
$font-family-1: 'Barlow Semi Condensed', sans-serif;;
$font-family-inter: 'Inter', sans-serif;