$color-principal: rgba(9,9,121,1);
$color-principal2: rgba(0,212,255,1);
$color-btn: rgb(42, 82, 156);
$color-btn-hover: rgba(7, 9, 112, 0.527);
$text-main: #eee;
$text-secondary: rgb(206, 206, 206); 
$background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
$font-size-p: 1.2rem;
$font-size-title: 1.8rem;
$font-size-subtitle: 1.2rem;
$font-size-li: 0.8rem;
$btn-boxShadow: rgb(42, 82, 156);
$btn-boxShadow-hover: 2px 2px 2px 1px rgba(7, 9, 112, 0.527);
