*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

@import "index";
@import "team";
@import "products";
@import "productos__gaston";
@import "clients";
@import "variables";
@import "header";
@import "footer";
@import "footer-products";





