#productos{
    height: 794px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        position: absolute;
        width: 508px;
        height: 20px;
        left: 473px;
        top: 113px;

        font-family: 'Alata', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 20px;
        /* identical to box height, or 31% */

        display: flex;
        align-items: center;
        font-feature-settings: 'salt' on, 'liga' off;

        color: #062F86;   
    }

    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;

        position: absolute;
        width: 1004px;
        height: 116px;
        left: 218px;
        top: 181px;
    }

    h2{
       
        position: absolute;
        width: 453px;
        height: 20px;
        left: 500px;
        top: 339px;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 20px;
        /* identical to box height, or 62% */

        display: flex;
        align-items: center;
        font-feature-settings: 'salt' on, 'liga' off;

        color: #000000;
    }

    .logo_slider {
        overflow: hidden;
        margin: auto;
        position: absolute;
        width: 994px;
        height: 223px;
        left: 223px;
        top: 386px;

        background: url(../../imagenes/image.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 42px 42px 82px 82px;

        
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            animation: mymove 1s linear infinite;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;

            
            li {
                flex-shrink: 0;
                display: block;
                border: 1px solid #ccc;
                margin: 20px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                box-sizing: border-box;

                img {
                    width: 100%;
                }
            }
        }
      
      
        @keyframes mymove {
        0%    { transform: 0; }
        100%  { transform: translateX(-120px); }
        }

        
    }
}