#productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        color:#062f86;
        font-family: 'Alata', sans-serif;
        font-size: 64px;    
    }

    p{
        width: 1004px;
    }

    h2{
        font-family: 'Inter', sans-serif;
        font-size: 32px; 
    }
}